<IfModule mod_rewrite.c>
    RewriteEngine On
    # Ajusta esta base a tu carpeta real
    RewriteBase /web2/TP6-API-REST/EJ2/api/

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ api_router.php?resource=$1 [QSA,L]
</IfModule>