<IfModule mod_rewrite.c>
    RewriteEngine On
    # Si el archivo o carpeta existe, no reescribas (para CSS, imágenes, etc.)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Todo lo demás, mándalo al router
    RewriteRule ^(.*)$ router.php?action=$1 [QSA,L]
</IfModule>